<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{dd.MM.yyyy - HH:mm:ss.SSS} [%t] %-5level %logger{16} - %msg%n"/>
        </Console>
        <Telegram name="Telegram" botToken="" chatId="">
            <PatternLayout pattern="%-5level - %msg%n"/>
        </Telegram>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="DEBUG"/>
            <AppenderRef ref="Telegram" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
